
/* 
    Created on : 21-feb-2019, 9:15:19
    Author     : Windows 10
*/


/* tekst stijl */
h1 {
    text-align: center;
    font-family:Lucida Sans Unicode;
}
h2 {
    margin-left: 10px;
    font-family: Lucida Sans Unicode;
    
}
body {
    font-family:Lucida Sans Unicode;
    background-color: #f1f1f1;
    padding : 8px;    
}



/* Alles voor de navigatiebalk*/
nav ul {
  overflow: hidden;
  background-color: #006e65;
  border-radius: 20px;
 
}

/* Kleur van de letters wit, text-decoration=none betekent dat het niet onderstreept is. */

nav li a {
  display: block;
  width: 150px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}
/* Kleur veranderen bij het zweven over de navigatiebalk */
nav li a:hover {
  background-color: #333;
}





/* STATUS.html ////// De tabel */
table, td {
    width: 1250px;
    height: 40px;
    border: 0.5px darkslategrey solid ;
}

.Vetgedrukt_en_Groter {
    padding-left: 20px ;
    font-size: 35px;
    font-weight: bold;
    
    
}

.todo {
    padding-left: 10px;
}
.todo2 {
    padding-left: 10px;
    font-size: smaller
}
.Marges_h2 {
    margin-top: 30px; 
    margin-left: 10px;
    
}

.btn-primary {

    color: #fff;
    background-color: #3d3d3d;
    border-color: #f1f1f1;
}
